rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /users/{uid} {
      allow read:  if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isSignedIn() && request.auth.uid == uid;
    }

    match /admins/{uid} {
      allow get:         if isSignedIn() && request.auth.uid == uid;
      allow list, write: if isAdmin();
    }

    match /commissions/{commissionId} {
      allow read:           if isAdmin() ||
                               (isSignedIn() && resource.data.clientUID == request.auth.uid);
      allow create:         if isSignedIn();
      allow update:         if isSignedIn()
                            && resource.data.clientUID == request.auth.uid
                            && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['archived']);
      allow update, delete: if isAdmin();

      match /messages/{messageId} {
        allow read, create: if isAdmin() ||
          (isSignedIn() &&
            get(/databases/$(database)/documents/commissions/$(commissionId))
              .data.clientUID == request.auth.uid);
        allow update, delete: if isAdmin();
      }
    }

    match /settings/{doc} {
      allow read:  if isSignedIn();
      allow write: if isAdmin();
    }

    match /portfolio/{item} {
      allow read:  if isSignedIn();
      allow write: if isAdmin();
    }

    match /adminNotes/{uid} {
      allow read, write: if isAdmin();
    }

    match /discountCodes/{code} {
      allow read:  if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
